:root {
  --accent-color: #2196f3;
  --accent-color2: #757575;
  --accent-color3: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-bg-color: #2f303a;
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--main-font);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.top-header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--accent-color3);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}
/* sit-nav */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
  align-items: center;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;

  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-link.current {
  color: var(--accent-color);
}
/* contacts-list */
.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color2);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* /header */

/* hero */
.hero-section {
  background-color: var(--accent-bg-color);
  /* justify-content: center; */
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color3);

  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-btn {
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color3);

  margin-left: auto;
  margin-right: auto;
  min-width: 216px;
  min-height: 50px;
  border-radius: 5px;
  padding: 10px 32px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* /hero */
/* features */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--accent-color3);
}
.features-list {
  display: flex;
}
.features-item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.features-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color2);
}
/* /features */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/* work */
.work-section {
  padding-bottom: 94px;
  background-color: var(--accent-color3);
}
.work-list {
  display: flex;
  justify-content: space-between;
}
/* team */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
/* вариант #1 */
/* .team-list {
  display: flex;
  justify-content: space-between;
} */

/* вариант #2 */
.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-item {
  background-color: var(--accent-color3);
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color2);
}
/* /team */
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.studio-address {
  font-style: inherit;
}
.footer-contact-address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--accent-color3);
}
.footer-contact-mail,
.footer-contact-tel {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-address:hover,
.footer-contact-address:focus {
  color: var(--accent-color);
}

.footer-contact-mail:hover,
.footer-contact-mail:focus {
  color: var(--accent-color);
}

.footer-contact-tel:hover,
.footer-contact-tel:focus {
  color: var(--accent-color);
}
/* logo */
.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-forepart {
  color: var(--accent-color);
}

.top-header .logo {
  color: #000000;
}

.footer .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
  color: var(--accent-color3);
}
/* /logo */

/* portfolio */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-filters-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filters-btn {
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;

  border: 1px solid transparent;
  border-radius: 4px;

  padding: 6px 22px;
}
.portfolio-filters-btn:hover,
.portfolio-filters-btn:focus {
  background-color: var(--accent-color);
  color: var(--accent-color3);
}
/* вариант #1 */
/* .portfolio-prj-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-right: -15px;
}
.portfolio-prj-item {
  margin: 15px;
} */

/* вариант #2  */
/* .portfolio-prj-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-prj-item {
  margin-left: 30px;
  margin-top: 30px;
} */

/* вариант #3 */
.portfolio-prj-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-prj-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.portfolio-prj-card {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-prj-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;

  margin-bottom: 4px;
}
.portfolio-prj-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--accent-color2);
}
.portfolio-prj-link {
  text-decoration: none;
}
